@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2156 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2156 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2156 0 0);
  --primary: oklch(0.5433 0.2122 28.1901);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9619 0 0);
  --secondary-foreground: oklch(0.3211 0 0);
  --muted: oklch(0.9772 0 0);
  --muted-foreground: oklch(0.5103 0 0);
  --accent: oklch(0.9475 0.0223 17.5528);
  --accent-foreground: oklch(0.3064 0.1135 27.2070);
  --destructive: oklch(0.6173 0.2514 29.0670);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8452 0 0);
  --input: oklch(0.9234 0 0);
  --ring: oklch(0.5433 0.2122 28.1901);
  --radius: 0.5rem;
  --chart-1: oklch(0.5433 0.2122 28.1901);
  --chart-2: oklch(0.5690 0.1717 142.9023);
  --chart-3: oklch(0.7794 0.1623 75.2937);
  --chart-4: oklch(0.4429 0.2231 288.6427);
  --chart-5: oklch(0.7506 0.1370 62.8073);
  --sidebar: oklch(0.9389 0 0);
  --sidebar-foreground: oklch(0.2697 0 0);
  --sidebar-primary: oklch(0.4522 0.1747 27.9768);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8451 0.0710 18.6621);
  --sidebar-accent-foreground: oklch(0.3064 0.1135 27.2070);
  --sidebar-border: oklch(0.8054 0 0);
  --sidebar-ring: oklch(0.5433 0.2122 28.1901);
  --font-sans: 'Roboto', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: hsl(0, 0%, 20%);
  --shadow-opacity: 0.08;
  --shadow-blur: 0.8rem;
  --shadow-spread: 0.15rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.3rem;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.3rem 0.8rem 0.15rem hsl(0 0% 20% / 0.04);
  --shadow-xs: 0rem 0.3rem 0.8rem 0.15rem hsl(0 0% 20% / 0.04);
  --shadow-sm: 0rem 0.3rem 0.8rem 0.15rem hsl(0 0% 20% / 0.08), 0rem 1px 2px -0.85px hsl(0 0% 20% / 0.08);
  --shadow: 0rem 0.3rem 0.8rem 0.15rem hsl(0 0% 20% / 0.08), 0rem 1px 2px -0.85px hsl(0 0% 20% / 0.08);
  --shadow-md: 0rem 0.3rem 0.8rem 0.15rem hsl(0 0% 20% / 0.08), 0rem 2px 4px -0.85px hsl(0 0% 20% / 0.08);
  --shadow-lg: 0rem 0.3rem 0.8rem 0.15rem hsl(0 0% 20% / 0.08), 0rem 4px 6px -0.85px hsl(0 0% 20% / 0.08);
  --shadow-xl: 0rem 0.3rem 0.8rem 0.15rem hsl(0 0% 20% / 0.08), 0rem 8px 10px -0.85px hsl(0 0% 20% / 0.08);
  --shadow-2xl: 0rem 0.3rem 0.8rem 0.15rem hsl(0 0% 20% / 0.20);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2156 0 0);
  --foreground: oklch(0.9619 0 0);
  --card: oklch(0.2697 0 0);
  --card-foreground: oklch(0.9619 0 0);
  --popover: oklch(0.2697 0 0);
  --popover-foreground: oklch(0.9619 0 0);
  --primary: oklch(0.5875 0.2303 28.2622);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3211 0 0);
  --secondary-foreground: oklch(0.9234 0 0);
  --muted: oklch(0.3008 0 0);
  --muted-foreground: oklch(0.7652 0 0);
  --accent: oklch(0.3064 0.1135 27.2070);
  --accent-foreground: oklch(0.8957 0.0460 18.0443);
  --destructive: oklch(0.6265 0.2439 28.1304);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.4184 0 0);
  --input: oklch(0.3705 0 0);
  --ring: oklch(0.5875 0.2303 28.2622);
  --chart-1: oklch(0.5875 0.2303 28.2622);
  --chart-2: oklch(0.6271 0.1905 142.8806);
  --chart-3: oklch(0.7981 0.1577 78.3663);
  --chart-4: oklch(0.4775 0.2424 288.4295);
  --chart-5: oklch(0.7792 0.1220 64.3264);
  --radius: 0.5rem;
  --sidebar: oklch(0.1930 0 0);
  --sidebar-foreground: oklch(0.9619 0 0);
  --sidebar-primary: oklch(0.4982 0.1937 28.0980);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2859 0.1046 27.0062);
  --sidebar-accent-foreground: oklch(0.8451 0.0710 18.6621);
  --sidebar-border: oklch(0.3994 0 0);
  --sidebar-ring: oklch(0.5875 0.2303 28.2622);
  --font-sans: 'Roboto', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: hsl(0, 0%, 5%);
  --shadow-opacity: 0.25;
  --shadow-blur: 0.8rem;
  --shadow-spread: 0.15rem;
  --shadow-offset-x: 0rem;
  --shadow-offset-y: 0.3rem;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0rem 0.3rem 0.8rem 0.15rem hsl(0 0% 5% / 0.13);
  --shadow-xs: 0rem 0.3rem 0.8rem 0.15rem hsl(0 0% 5% / 0.13);
  --shadow-sm: 0rem 0.3rem 0.8rem 0.15rem hsl(0 0% 5% / 0.25), 0rem 1px 2px -0.85px hsl(0 0% 5% / 0.25);
  --shadow: 0rem 0.3rem 0.8rem 0.15rem hsl(0 0% 5% / 0.25), 0rem 1px 2px -0.85px hsl(0 0% 5% / 0.25);
  --shadow-md: 0rem 0.3rem 0.8rem 0.15rem hsl(0 0% 5% / 0.25), 0rem 2px 4px -0.85px hsl(0 0% 5% / 0.25);
  --shadow-lg: 0rem 0.3rem 0.8rem 0.15rem hsl(0 0% 5% / 0.25), 0rem 4px 6px -0.85px hsl(0 0% 5% / 0.25);
  --shadow-xl: 0rem 0.3rem 0.8rem 0.15rem hsl(0 0% 5% / 0.25), 0rem 8px 10px -0.85px hsl(0 0% 5% / 0.25);
  --shadow-2xl: 0rem 0.3rem 0.8rem 0.15rem hsl(0 0% 5% / 0.63);
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-feature-settings: "rlig" 1, "calt" 1;
  font-synthesis-weight: none;
}

@theme inline {
  --font-sans: 'Roboto', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --font-serif: 'Merriweather', serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}